# Data Cleaning Exercise

Author: Martin Tomov, Feb 2024

This notebook focuses on the data cleaning process for the `GRAIN—Land-grab-deals—Jan-2012` dataset. The dataset contains information about various land deals, including the country, company involved, sector, size, production type, projected investment, status, and a summary of each deal. Data cleaning is a crucial step in preparing data for analysis, ensuring accuracy, consistency, and usability. In this exercise, we'll explore the dataset, identify data quality issues, and apply cleaning techniques to address them.

---

## Initial Data Exploration

Let's start by loading the dataset and examining its basic properties to identify any potential issues that need cleaning.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_excel('data/GRAIN---Land-grab-deals---Jan-2012.xlsx')

In [2]:
data_path = 'data/GRAIN---Land-grab-deals---Jan-2012.xlsx'
data_df = pd.read_excel(data_path)
data_df.head()

,Landgrabbed,Landgrabber,Base,Sector,Hectares,Production,Projected investment,Status of deal,Summary
0,Algeria,Al Qudra,UAE,"Finance, real estate",31000.0,"Milk, olive oil, potatoes",NaN,Done,Al Qudra Holding is a joint-stock company esta...
1,Angola,CAMC Engineering Co. Ltd,China,Construction,1500.0,Rice,US$77 million,Done,CAMCE is a subsidiary of the China National Ma...
2,Angola,ENI,Italy,Energy,12000.0,Oil palm,NaN,In process,The project is a joint venture between Sonango...
3,Angola,AfriAgro,Portugal,"Finance, real estate",5000.0,Oil palm,US$30-35 million,Done,AfriAgro is a subsidiary of the Portugal-based...
4,Angola,Eurico Ferreira,Portugal,"Energy, telecommunications\n",30000.0,Sugar cane,US$200 million,Done,"In 2008, Portuguese conglomerate Eurico Ferrei..."

## Data Cleaning Steps

Based on the initial exploration, we'll proceed with the following data cleaning steps:

1. Handling Missing Values
2. Addressing Data Inconsistencies
3. Formatting and Data Entry Issues

Let's tackle each of these steps one by one.

### 1. Handling Missing Values

Missing values can significantly impact the quality of the analysis. We'll start by identifying and addressing missing values in the dataset.

In [26]:
df.isna().sum()

Landgrabbed       0
Landgrabber       0
Base              0
Hectares          0
Status of deal    0
Summary           0
sector1           0
sector2           0
sector3           0
dtype: int64

As there are Nan values in the `Production` and `Projected investment` columns, I demonstrate a practical approach to handling such columns that give us a better understanding of the data with the help of the fillna() method. This way we clean the data and make it more suitable for analysis.

In [27]:
# Handling missing values in the split sector columns
df['sector1'].fillna('Unknown', inplace=True)
df['sector2'].fillna('Unknown', inplace=True)
df['sector3'].fillna('Unknown', inplace=True)

# Handling missing values for 'Hectares'
df['Hectares'].fillna(df['Hectares'].median(), inplace=True)

# For 'Production' and 'Projected investment', decide based on the context.
# If we decide to drop these columns:
columns_to_drop = ['Production', 'Projected investment']

for column in columns_to_drop:
    if column in df.columns:
        df.drop(columns=[column], inplace=True)
    else:
        print(f"Column {column} does not exist in the DataFrame.")

# Cleaning 'Sector' columns (Now 'sector1', 'sector2', 'sector3')
df['sector1'] = df['sector1'].str.strip()
df['sector2'] = df['sector2'].str.strip()
df['sector3'] = df['sector3'].str.strip()

# Removing duplicates
df.drop_duplicates(inplace=True)

print(df.info())
print(df.head())

Column Production does not exist in the DataFrame.
Column Projected investment does not exist in the DataFrame.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416 entries, 0 to 415
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Landgrabbed     416 non-null    object
 1   Landgrabber     416 non-null    object
 2   Base            416 non-null    object
 3   Hectares        416 non-null    float64
 4   Status of deal  416 non-null    object
 5   Summary         416 non-null    object
 6   sector1         416 non-null    object
 7   sector2         416 non-null    object
 8   sector3         416 non-null    object
dtypes: float64(1), object(8)
memory usage: 29.4+ KB
None
  Landgrabbed               Landgrabber      Base  Hectares Status of deal  \
0     Algeria                  Al Qudra       UAE   31000.0           Done
1      Angola  CAMC Engineering Co. Ltd     China    1500.0           Done
2      Angola                       ENI     Italy   12000.0     In process
3      Angola                  AfriAgro  Portugal    5000.0           Done
4      Angola           Eurico Ferreira  Portugal   30000.0           Done

                                             Summary       sector1  \
0  Al Qudra Holding is a joint-stock company esta...       Finance
1  CAMCE is a subsidiary of the China National Ma...  Construction
2  The project is a joint venture between Sonango...        Energy
3  AfriAgro is a subsidiary of the Portugal-based...       Finance
4  In 2008, Portuguese conglomerate Eurico Ferrei...        Energy

              sector2  sector3
0         real estate  Unknown
1             Unknown  Unknown
2             Unknown  Unknown
3         real estate  Unknown
4  telecommunications  Unknown

### 2. Addressing Data Inconsistencies

Inconsistencies in the data can lead to incorrect conclusions. We'll identify and correct any inconsistencies in the dataset.

In [10]:
# By checking the unique values we actually find duplicated values in 'Status of deal'
df['Status of deal'].unique()

array(['Done', 'Done ', 'In process', 'Done (50-yr lease)', 'Suspended',
       'Proposed', 'MoU signed (2009)', 'Done\n', 'Suspended  ',
       'Suspended (October 2011)'], dtype=object)

In [11]:
# among the string functions is strip() to remove all white spaces (and other 'invisible characters' )
df['Status of deal'] = df['Status of deal'].str.strip()
df['Status of deal'].unique()

array(['Done', 'In process', 'Done (50-yr lease)', 'Suspended',
       'Proposed', 'MoU signed (2009)', 'Suspended (October 2011)'],
      dtype=object)

In [28]:
# check for duplicate values
df.duplicated().value_counts()

False    416
Name: count, dtype: int64

### 3. Formatting and Data Entry Issues

Proper formatting and accurate data entry are essential for data analysis. We'll ensure that the data is correctly formatted and free from entry errors.

In [29]:
# Look at the sector1 column, you can see (sometimes) multiple values, separated by commas
df['sector1'].head(50)

0          Finance
1     Construction
2           Energy
3          Finance
4           Energy
5     Agribusiness
6     Agribusiness
7     Agribusiness
8     Agribusiness
9          Finance
10    Agribusiness
11         Finance
12         Finance
13         Finance
14         Finance
15      Industrial
16    Agribusiness
17    Agribusiness
18    Agribusiness
19      Government
20    Agribusiness
21    Agribusiness
22    Agribusiness
23         Finance
24         Finance
25    Agribusiness
26         Unknown
27      Industrial
28    Construction
29    Agribusiness
30         Finance
31         Finance
32         Finance
33    Agribusiness
34    Agribusiness
35      Industrial
36         Finance
37    Agribusiness
38         Finance
39         Finance
40         Finance
41         Finance
42         Finance
43         Finance
44         Unknown
45    Agribusiness
46         Finance
47         Unknown
48          Energy
49    Agribusiness
Name: sector1, dtype: object

In [30]:
# let's try to split those values (first in a separate data frame)
subset = df['sector1'].str.split(',', expand = True)
subset.head(10)

              0
0       Finance
1  Construction
2        Energy
3       Finance
4        Energy
5  Agribusiness
6  Agribusiness
7  Agribusiness
8  Agribusiness
9       Finance

In [31]:
# Split the values in 'sector1' column and assign them to new columns
split_columns = df['sector1'].str.split(',', expand=True)
num_columns = split_columns.shape[1]

# Check if the number of columns matches the number of split columns
if num_columns == 3:
    df[['sector1', 'sector2', 'sector3']] = split_columns
    df.drop('sector1', axis='columns', inplace=True)
else:
    print("The number of split columns is not equal to 3.")

df.head()

The number of split columns is not equal to 3.

,Landgrabbed,Landgrabber,Base,Hectares,Status of deal,Summary,sector1,sector2,sector3
0,Algeria,Al Qudra,UAE,31000.0,Done,Al Qudra Holding is a joint-stock company esta...,Finance,real estate,Unknown
1,Angola,CAMC Engineering Co. Ltd,China,1500.0,Done,CAMCE is a subsidiary of the China National Ma...,Construction,Unknown,Unknown
2,Angola,ENI,Italy,12000.0,In process,The project is a joint venture between Sonango...,Energy,Unknown,Unknown
3,Angola,AfriAgro,Portugal,5000.0,Done,AfriAgro is a subsidiary of the Portugal-based...,Finance,real estate,Unknown
4,Angola,Eurico Ferreira,Portugal,30000.0,Done,"In 2008, Portuguese conglomerate Eurico Ferrei...",Energy,telecommunications,Unknown

## ✅ Conclusions and Implications

After cleaning up our data, getting rid of columns with too many missing spots will help our analysis later. Now, our data is tidier and ready for the next steps, like studying patterns or teaching a machine learning model. This sets us up well for the more complex work to come. It's important to note that data cleaning can have implications, such as loss of data or changes in data distribution. Therefore, it's crucial to carefully consider the impact of each cleaning action taken.